<a href="https://colab.research.google.com/github/AsanAlacli/JSLABS/blob/main/keyModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import json

from google.colab import files

license_keys = files.upload()

with open(list(license_keys.keys())[0]) as f:
    license_keys = json.load(f)

Saving 3.0.0. OCR_spark_nlp_for_healthcare.txt to 3.0.0. OCR_spark_nlp_for_healthcare.txt

In [3]:
%%capture
for k,v in license_keys.items(): 
    %set_env $k=$v

!wget https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp-workshop/master/jsl_colab_setup.sh
!bash jsl_colab_setup.sh

! pip install spark-nlp-display

In [4]:
import json
import os
from pyspark.ml import Pipeline,PipelineModel
from pyspark.sql import SparkSession

from sparknlp.annotator import *
from sparknlp_jsl.annotator import *
from sparknlp.base import *
import sparknlp_jsl
import sparknlp

params = {"spark.driver.memory":"16G",
"spark.kryoserializer.buffer.max":"2000M",
"spark.driver.maxResultSize":"2000M"}

spark = sparknlp_jsl.start(license_keys['SECRET'],params=params)

print ("Spark NLP Version :", sparknlp.version())
print ("Spark NLP_JSL Version :", sparknlp_jsl.version())

Spark NLP Version : 3.0.1
Spark NLP_JSL Version : 3.0.0

In [61]:
# Annotator that transforms a text column from dataframe into an Annotation ready for NLP
documentAssembler = DocumentAssembler()\
        .setInputCol("text")\
        .setOutputCol("document")

'sentenceDetector = SentenceDetectorDLModel.pretrained("sentence_detector_dl_healthcare","en","clinical/models")\
        .setInputCols(["document"])\
        .setOutputCol("sentence")'

'tokenizer = sparknlp.annotators.Tokenizer()\
    .setInputCols(["sentences"])\
    .setOutputCol("tokens")'

nlpPipeline = Pipeline(stages=[
        documentAssembler
        #sentenceDetector,
        #tokenizer
        ])


empty_data = spark.createDataFrame([[""]]).toDF("text")

model = nlpPipeline.fit(empty_data)

In [62]:
model.stages

[DocumentAssembler_3e2127ce0ae8]

In [63]:
import pyspark.sql.functions as F

first_spark_df = spark.read\
                .option("header", "true")\
                .csv("mimic_100_pats.csv")\
                
first_spark_df.show(truncate=770)

+----------------------------------------------------------------------------+------+--------------------+--------+----------+-------------------------------------------------------------------------------+
|                                                                         _c0|ROW_ID|          SUBJECT_ID| HADM_ID| CHARTDATE|                                                                           TEXT|
+----------------------------------------------------------------------------+------+--------------------+--------+----------+-------------------------------------------------------------------------------+
|                                                                         744|   934|               18589|181162.0|2191-05-10|Admission Date:  [**2191-4-18**]              Discharge Date:   [**2191-5-10**]|
|                        Date of Birth:  [**2112-3-14**]             Sex:   M|  null|                null|    null|      null|                                                                           null|
|                                                           Service: MEDICINE|  null|                null|    null|      null|                                                                           null|
|                                                                  Allergies:|  null|                null|    null|      null|                                                                           null|
|                                                                 Ceftriaxone|  null|                null|    null|      null|                                                                           null|
|                                       Attending:[**First Name3 (LF) 2297**]|  null|                null|    null|      null|                                                                           null|
|                                                            Chief Complaint:|  null|                null|    null|      null|                                                                           null|
|                                                                   Pneumonia|  null|                null|    null|      null|                                                                           null|
|                                       Major Surgical or Invasive Procedure:|  null|                null|    null|      null|                                                                           null|
|                                                                        none|  null|                null|    null|      null|                                                                           null|
|                                                 History of Present Illness:|  null|                null|    null|      null|                                                                           null|
|This is a 79 yo recently diagnosed with [**Doctor Last Name 6261**] syndrome|  null|                null|    null|      null|                                                                           null|
|             (transformation of CLL to large B cell NHL) now s/p 3 cycles of|  null|                null|    null|      null|                                                                           null|
|         CHOP presents with PNA diagnosed at [**Hospital1 **] ED.  The pt is|  null|                null|    null|      null|                                                                           null|
|   now referred from [**Hospital 478**] clinic for treatment of PNA.  The pt|  null|                null|    null|      null|                                                                           null|
|        presented to OSH ED on [**4-13**] and was diagnosed with LLL PNA and|  null|                null|    null|      null|                                                                           null|
|            was given a course of levofloxacin.  The pt did not take his abx|  null|                null|    null|      null|                                                                           null|
|                                        as prescribed.  He c/o increased SOB|   DOE| and cough x 1 week.|    null|      null|                                                                           null|
|                  The pt also c/o decrease appetite over past week with 4 lb|  null|                null|    null|      null|                                                                           null|
|                             weight loss.  No increase in fatigue.  No f/c/s|   n/v|                 d/c|    null|      null|                                                                           null|
+----------------------------------------------------------------------------+------+--------------------+--------+----------+-------------------------------------------------------------------------------+
only showing top 20 rows

In [114]:
#first_spark_df.show()
text = first_spark_df.select('_c0').take(1)[0][0]
text

'744'

In [58]:
lmodel = LightPipeline(model)

results = lmodel.fullAnnotate(text)

In [59]:
results[0].keys()

dict_keys(['document'])

In [60]:
results[0]

{'document': [Annotation(document, 0, 2, 744, {})]}

In [65]:
import pandas as pd

In [68]:
pandas_df=pd.read_csv('mimic_100_pats.csv')
pandas_df

      Unnamed: 0  ...                                               TEXT
0            744  ...  Admission Date:  [**2191-4-18**]              ...
1           1315  ...  Admission Date:  [**2126-5-7**]     Discharge ...
2           1316  ...  Admission Date:  [**2127-7-27**]              ...
3           2117  ...  Admission Date:  [**2108-2-22**]              ...
4           2761  ...  Admission Date:  [**2147-11-22**]     Discharg...
...          ...  ...                                                ...
9637     2080622  ...  Neonatology\r\nDoing well. remains in NCO2 flo...
9638     2080623  ...  Neonatology NP Note\r\nPE\r\nswaddled in open ...
9639     2080624  ...  Nursing NICU Note\r\n\r\n\r\n#1.  Respiratory ...
9640     2080720  ...  Neonatology Attending\r\nDOL 3 / PMA 40-4/7 we...
9641     2080721  ...  Neonatology [** 63**] note\r\nPE:\r\n\r\nNEURO...

[9642 rows x 6 columns]

In [73]:
pandas_df.columns[0]

'Unnamed: 0'

In [75]:
pandas_df = pandas_df.rename(columns={'Unnamed: 0' : 'UKNWN_COL'})

In [77]:
pandas_df.head(20)

    UKNWN_COL  ...                                               TEXT
0         744  ...  Admission Date:  [**2191-4-18**]              ...
1        1315  ...  Admission Date:  [**2126-5-7**]     Discharge ...
2        1316  ...  Admission Date:  [**2127-7-27**]              ...
3        2117  ...  Admission Date:  [**2108-2-22**]              ...
4        2761  ...  Admission Date:  [**2147-11-22**]     Discharg...
5        2762  ...  Admission Date:  [**2157-11-25**]             ...
6        3414  ...  Admission Date:  [**2180-8-28**]              ...
7        3415  ...  Admission Date:  [**2180-10-19**]             ...
8        3416  ...  Admission Date:  [**2181-2-23**]              ...
9        4287  ...  Admission Date:  [**2100-9-5**]       Discharg...
10       4998  ...  Admission Date:  [**2167-2-16**]       Dischar...
11       4999  ...  Admission Date:  [**2167-11-27**]       Discha...
12       5000  ...  Admission Date:  [**2170-9-19**]              ...
13       5001  ...  Admission Date:  [**2172-6-13**]              ...
14       5066  ...  Admission Date:  [**2161-5-2**]              D...
15       5428  ...  Admission Date:  [**2132-2-29**]       Dischar...
16       6558  ...  Admission Date:  [**2148-10-17**]     Discharg...
17       6782  ...  Admission Date:  [**2121-3-30**]       Dischar...
18       8168  ...  Admission Date:  [**2161-11-3**]       Dischar...
19       8169  ...  Admission Date:  [**2167-3-2**]              D...

[20 rows x 6 columns]

In [78]:
pandas_df.tail(20)

      UKNWN_COL  ...                                               TEXT
9622    2080058  ...  NPN\r\n\r\n\r\n#1RESP: Recv'd infant in NC 1 l...
9623    2080059  ...  Respiratory Care\r\nInfant placed in oxyhood t...
9624    2080060  ...  Neonatology Attending\r\nDOL 1 / PMA 40-2/7 we...
9625    2080061  ...  NICU NPN 1900-0700\r\n\r\n\r\nRESP O: [**Known...
9626    2080181  ...  npn 1900-0700\r\n\r\n\r\n#1 resp\r\ninfant con...
9627    2080182  ...  Neonatology Attending Note\r\nDay 5, PMA 40 6\...
9628    2080183  ...  NPN DAYS\r\n\r\n\r\nALT IN RESP:REMAINS IN NAS...
9629    2080184  ...  Attending Note\r\nDay of life 19 PMA 42 [**5-1...
9630    2080330  ...  Neonatology Attending\r\nFull term infant admi...
9631    2080331  ...  Neonatology Attending\r\n(Continued)\r\nymptom...
9632    2080332  ...  NICU NURSING ADMIT NOTE\r\nTHIS IS A FULL TERM...
9633    2080346  ...  Neonatology\r\nDOL #13, CGA 42 weeks.\r\n\r\nC...
9634    2080347  ...  Nursing NICU Note\r\n\r\n\r\n#1.  Respiratory ...
9635    2080473  ...  NPN 0700-[**2051**]\r\n\r\n\r\n1.  IN RA with ...
9636    2080621  ...  NPN 1900-0700\r\n\r\n\r\nRESP:  Infant remains...
9637    2080622  ...  Neonatology\r\nDoing well. remains in NCO2 flo...
9638    2080623  ...  Neonatology NP Note\r\nPE\r\nswaddled in open ...
9639    2080624  ...  Nursing NICU Note\r\n\r\n\r\n#1.  Respiratory ...
9640    2080720  ...  Neonatology Attending\r\nDOL 3 / PMA 40-4/7 we...
9641    2080721  ...  Neonatology [** 63**] note\r\nPE:\r\n\r\nNEURO...

[20 rows x 6 columns]

In [83]:
pandas_df.shape

(9642, 6)

In [84]:
pandas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9642 entries, 0 to 9641
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UKNWN_COL   9642 non-null   int64
 1   ROW_ID      9642 non-null   int64
 2   SUBJECT_ID  9642 non-null   int64
 3   HADM_ID     8222 non-null   float64
 4   CHARTDATE   9642 non-null   object
 5   TEXT        9642 non-null   object
dtypes: float64(1), int64(3), object(2)
memory usage: 452.1+ KB

In [86]:
pandas_df.describe()

          UKNWN_COL        ROW_ID    SUBJECT_ID        HADM_ID
count  9.642000e+03  9.642000e+03   9642.000000    8222.000000
mean   1.098950e+06  1.099887e+06  27687.871292  151963.337509
std    5.859361e+05  5.863771e+05  24335.446171   29731.451320
min    7.440000e+02  9.340000e+02    403.000000  100481.000000
25%    6.544888e+05  6.555862e+05  11425.000000  128942.000000
50%    1.074476e+06  1.069898e+06  19823.000000  147403.000000
75%    1.622852e+06  1.625378e+06  30015.000000  177882.000000
max    2.080721e+06  2.054715e+06  99647.000000  199558.000000

In [88]:
pandas_df.sample(n=8)

      UKNWN_COL  ...                                               TEXT
1632     407149  ...  History of metastatic renal cell carcinoma und...
7665    1699316  ...  NNP Procedure Note\r\nCT removal\r\n\r\nLeft C...
303       90115  ...  PATIENT/TEST INFORMATION:\r\nIndication: Endoc...
4519    1016833  ...  [**Last Name (LF) **],[**First Name3 (LF) 3675...
204       64397  ...  PATIENT/TEST INFORMATION:\r\nIndication: Aorti...
5330    1180722  ...  [**2133-3-15**] 9:36 PM\r\n CTA ABD W&W/O C & ...
3464     817038  ...  [**2179-3-3**] 7:44 PM\r\n MR SHOULDER W/O CON...
1364     359205  ...  89 year old patient admitted from the EW with ...

[8 rows x 6 columns]

In [93]:
pandas_df.isna().any()

UKNWN_COL     False
ROW_ID        False
SUBJECT_ID    False
HADM_ID        True
CHARTDATE     False
TEXT          False
dtype: bool

In [92]:
pandas_df.isnull().sum()

UKNWN_COL        0
ROW_ID           0
SUBJECT_ID       0
HADM_ID       1420
CHARTDATE        0
TEXT             0
dtype: int64

In [111]:
text = pandas_df.TEXT[0]

In [112]:
text

'Admission Date:  [**2191-4-18**]              Discharge Date:   [**2191-5-10**]\r\n\r\nDate of Birth:  [**2112-3-14**]             Sex:   M\r\n\r\nService: MEDICINE\r\n\r\nAllergies:\r\nCeftriaxone\r\n\r\nAttending:[**First Name3 (LF) 2297**]\r\nChief Complaint:\r\nPneumonia\r\n\r\nMajor Surgical or Invasive Procedure:\r\nnone\r\n\r\nHistory of Present Illness:\r\nThis is a 79 yo recently diagnosed with [**Doctor Last Name 6261**] syndrome\r\n(transformation of CLL to large B cell NHL) now s/p 3 cycles of\r\nCHOP presents with PNA diagnosed at [**Hospital1 **] ED.  The pt is\r\nnow referred from [**Hospital 478**] clinic for treatment of PNA.  The pt\r\npresented to OSH ED on [**4-13**] and was diagnosed with LLL PNA and\r\nwas given a course of levofloxacin.  The pt did not take his abx\r\nas prescribed.  He c/o increased SOB, DOE, and cough x 1 week.\r\nThe pt also c/o decrease appetite over past week with 4 lb\r\nweight loss.  No increase in fatigue.  No f/c/s, n/v, d/c,\r\nabdominal pain, chest pain, or pain with inspiration.\r\n\r\nPast Medical History:\r\n1) CAD\r\n2) HTN\r\n3) Dyslipidemia\r\n4) PVD s/p PTCA, RCI/LCI/LEI stenting, and fem bypass\r\n5) Arthritis\r\n6) h/o CVA while on ASA/plavix\r\n7) BPH\r\n8) Early Parkinson\'s Disease\r\n.\r\nOnc History:\r\nsubcarinal LAD noted on bronchscopy in [**1-23**] which was negative\r\nfor malignant cells. Referred by Dr. [**First Name (STitle) 1313**] to heme onc for\r\nenlarged lower lobe lung mass. Mediastinoscopy was performed in\r\n[**11-22**] which was suggestive of atypical chronic lymphocytic\r\nleukemia.  Lung biopsy performed revealed a large Bcell NHL. The\r\nprobable basis for his problem is understood to be\r\ntransformation of CLL to a [**Doctor Last Name 6261**] syndrome. s/p 3 cycles of\r\nCHOP\r\n.\r\nLymph Node bx [**11-22**]:\r\nImmunophenotypic findings are of involvement by a\r\nlambda-restricted CD5 positive B-cell lymphoproliferative\r\ndisorder.  The differential diagnosis includes an atypical\r\nchronic lymphocytic leukemia (with subset loss of CD23).\r\n.\r\nCT [**2191-4-5**]:\r\n1.  Unchanged size of left lower lung lobe mass measuring\r\napproximately 7.4 cm in greatest axial dimension.  This mass has\r\ndecreased attenuation when compared with the prior exam which\r\nmay be secondary to chemotherapy treatment and necrosis.  Small\r\npulmonary nodules in the lower lobes bilaterally are unchanged.\r\n\r\n\r\nSocial History:\r\nQuit smoking [**2150**], smoked 1.5 ppd x 20 yrs. [**12-20**] glasses\r\nwine/day. lives alone at [**Location (un) 2725**].\r\n\r\n\r\nFamily History:\r\nMother died of CVA, also had h/o stomach and intestinal cancer\r\nFather died of CVA\r\nSister died of lung cancer\r\n\r\nPhysical Exam:\r\nVS: T 97.3 P 99 BP 130/68 R 20 Sat 85-88%RA\r\nGen: AAO times 3\r\nHEENT: NCAT, PERRL, conjunctivae anicteric/noninjected, MMM, OP\r\nclear\r\nNeck: JVP 7 cm\r\nCV: RRR, nS1S2, no r/m/g\r\nPulm: diffuse ronchi\r\nAbd: soft, NT/ND without masses or bruits, NABS, no palpable HSM\r\nExt: 1+ pitting in BL feet and pretibial, weak BL DP/PT pulses\r\nNeuro: grossly intact\r\n\r\n\r\nPertinent Results:\r\n[**2191-4-18**] 05:10PM   GLUCOSE-104 UREA N-43* CREAT-1.2 SODIUM-135\r\nPOTASSIUM-4.6 CHLORIDE-99 TOTAL CO2-21* ANION GAP-20\r\n[**2191-4-18**] 05:10PM   CALCIUM-9.2 PHOSPHATE-4.2 MAGNESIUM-1.8\r\n[**2191-4-18**] 05:10PM   WBC-13.6* RBC-3.54* HGB-9.5* HCT-29.9* MCV-84\r\nMCH-26.8* MCHC-31.7 RDW-20.3*\r\n[**2191-4-18**] 05:10PM   NEUTS-92.1* LYMPHS-4.5* MONOS-2.9 EOS-0.2\r\nBASOS-0.2\r\n[**2191-4-18**] 05:10PM   HYPOCHROM-2+ ANISOCYT-2+ MICROCYT-1+\r\n[**2191-4-18**] 05:10PM   PLT COUNT-357\r\n[**2191-4-18**] 03:35PM   WBC-13.4* RBC-3.65*# HGB-10.3*# HCT-31.1*#\r\nMCV-85 MCH-28.3 MCHC-33.3 RDW-20.1*\r\n[**2191-4-18**] 03:35PM   NEUTS-91.4* LYMPHS-4.4* MONOS-3.9 EOS-0.1\r\nBASOS-0.2\r\n[**2191-4-18**] 03:35PM   HYPOCHROM-2+ ANISOCYT-2+ MICROCYT-1+\r\n.\r\nCXR:\r\nAP AND LATERAL CHEST: The heart size is normal. The aorta is\r\ncalcified and tortuous without focal dilatation. There has been\r\ninterval worsening of right upper lobe, left upper lobe, and\r\nleft retrocardiac airspace opacities consistent with multifocal\r\npneumonia. The pulmonary vasculature is normal. There is a\r\nlikely small left pleural effusion.\r\n\r\nIMPRESSION: Worsening of the multifocal pneumonia.\r\n.\r\nCT Chest:\r\nIMPRESSION:\r\n1. Interval increase in patchy ground glass opacities\r\nbilaterally, predominantly in the upper lungs, consistent with\r\nworsening multifocal pneumonia.\r\n2. Unchanged appearance of tree-in-[**Male First Name (un) 239**] opacities in the right\r\nmiddle and lower lungs, consistent with infection.\r\n3. Unchanged appearance of left lower lung mass.\r\n\r\n[**5-9**] CXR:\r\nIMPRESSION: AP chest compared to [**5-6**] and 21. Severe\r\nconsolidation in the left lung and in the right lung apex more\r\nsignificantly since [**5-8**]. Pleural effusion, moderate on the\r\nleft and small on the right is stable. Heart size top normal.\r\nFindings could represent worsening of either asymmetric\r\npulmonary edema or pneumonia.\r\n\r\nBrief Hospital Course:\r\nHospital Course: Briefly pt is a 79 M with [**Doctor Last Name 6261**] syndrome\r\n(transformation of CLL to large B cell NHL) s/p 3 cycles of CHOP\r\nwho originally presented here for multifocal PN on [**4-18**] and\r\nstarted on levofloxacin. On the evening of [**4-19**] pt with irreg\r\ntachy - ? MAT. Pt then became hypoxic on NRB and CXR w/\r\nworsening multifocal infiltrates. CTA r/o\'d PE. Treated w/\r\nVanc/Zosyn. Pt temporarily on heparin gtt and had 9pt HCT drop.\r\nHe was tx\'d 2 units pRBC, remained in resp distress, developed\r\nRVR, flash pulm edema, and was intubated. His Tpn peaked at\r\n0.44. TTE revealed EF 25%. Bronchoscopy on [**4-21**] neg. Pt was\r\nstarted on metoprolol/captopril and extubated.\r\n.\r\nHe was tx\'d to OMED svc. Again decompensated with RVR and\r\nrequired NRB by [**4-29**]. He also developed diarrhea, a rising WBC,\r\nand a lactate up to 5.7. He was tx\'d back to the ICU for hypoxic\r\nrespiratory failure and intubated. He was treated with flagyl\r\nfor c dif despite negative toxins, levoflox for atypical\r\ncoverage, [**Last Name (un) 2830**] and vanco to complete a course of antibiotics. He\r\nwas noted to have an NSTEMI on [**4-29**] with peak MB 64 and Trop\r\n1.08. His volume status was managed, he was aggressively\r\nsuctioned and extubated with a plan for no reintubation after\r\nextensive discussion with the family and pt\'s son and HCP(ie:\r\nDNR/DNI).\r\n.\r\nHe returned to the OMED service on [**2191-5-7**] where there was\r\napparently another conversation regarding code status during\r\nwhich the pt requested to be Full Code, though his family felt\r\nthat he was confused and did not understand the meaning of the\r\nconversation. His son [**Name (NI) 382**] and daughter continued to request\r\nthat he be DNR/DNI and felt that this was in keeping with his\r\ndesires. On the BMT unit, the patient was initiated on TPN. He\r\nwas also noted to have another increase in CE\'s [**5-8**] with a MB\r\n30 and Trop 1.[**Street Address(2) 6262**] elevations on EKG. He received lasix\r\n20mg x 3 over the day of [**5-8**] to maintain negative fluid\r\nbalance. He became tachypneic and desaturated to an O2 sat of\r\n79% on RA. His HR was 106. He was started on NRB and ABG showed\r\n7.36/33/63 and his sats on NRB ranged from 90-94%. He was also\r\ngiven 40 mg IV lasix and pt had 60 cc foley output. CXR\r\nconfirmed worsening CHF.\r\n.\r\nICU was called for transfer given his tachypnea, hypoxia, and\r\nincreased work of breathing. The patient\'s PCP, [**Last Name (NamePattern4) **]. [**First Name (STitle) 1313**], who\r\nwas involved in the code discussions (Dr. [**First Name (STitle) 1313**] was [**First Name (STitle) 653**]\r\nand felt the pt should remain DNR/DNI. The pt\'s son was also\r\n[**Name (NI) 653**] and felt very strongly that the patient should be\r\nDNR/DNI. [**Name (NI) **] sister was also called because she was\r\npresent during the daytime today when code status was changed\r\nand confirmed that the patient was confused today, answered only\r\n"yes" to questions, and did not clearly state his desires when\r\nasked. Prior to transfer to ICU, the patient was confused and in\r\nrespiratory distress and did not reliably answer questions. He\r\nwas transfered to the ICU for further monitoring.\r\n.\r\nIn the ICU, the pt\'s code status remained DNR/DNI.  Family and\r\nPCP were [**Name (NI) 653**].  The pt continued to deteriorate and goals\r\nof care were turned to comfort primarily.  He died comfortably.\r\n\r\n\r\nMedications on Admission:\r\nLipitor 5 mg, atenolol 12.5 mg po qd, L-dopa 25/100 tid\r\n\r\n\r\nDischarge Medications:\r\nN/A\r\n\r\nDischarge Disposition:\r\nExpired\r\n\r\nDischarge Diagnosis:\r\nExpired\r\n\r\nDischarge Condition:\r\nExpired\r\n\r\nDischarge Instructions:\r\nExpired\r\n\r\nFollowup Instructions:\r\nExpired\r\n\r\n\r\nCompleted by:[**2191-5-19**]'

In [113]:
sparkDF= spark.createDataFrame(pandas_df)
sparkDF.show()

+---------+------+----------+--------+----------+--------------------+
|UKNWN_COL|ROW_ID|SUBJECT_ID| HADM_ID| CHARTDATE|                TEXT|
+---------+------+----------+--------+----------+--------------------+
|      744|   934|     18589|181162.0|2191-05-10|Admission Date:  ...|
|     1315|  1125|     17581|144831.0|2126-05-22|Admission Date:  ...|
|     1316|  1126|     17581|140044.0|2127-07-29|Admission Date:  ...|
|     2117|  1896|      8904|147403.0|2108-03-13|Admission Date:  ...|
|     2761|  2872|     18054|138511.0|2147-12-11|Admission Date:  ...|
|     2762|  2873|     18054|191467.0|2157-12-02|Admission Date:  ...|
|     3414|  3704|     52574|109934.0|2180-08-31|Admission Date:  ...|
|     3415|  3705|     52574|189995.0|2180-10-29|Admission Date:  ...|
|     3416|  3706|     52574|177706.0|2181-02-27|Admission Date:  ...|
|     4287|  4273|     11425|194366.0|2100-09-24|Admission Date:  ...|
|     4998|  4994|     19823|179754.0|2167-02-25|Admission Date:  ...|
|     4999|  4995|     19823|134485.0|2167-11-27|Admission Date:  ...|
|     5000|  4996|     19823|116955.0|2170-10-12|Admission Date:  ...|
|     5001|  4997|     19823|153858.0|2172-06-22|Admission Date:  ...|
|     5066|  5166|     22015|140074.0|2161-05-22|Admission Date:  ...|
|     5428|  5427|      1763|153895.0|2132-03-27|Admission Date:  ...|
|     6558|  7135|      2148|123870.0|2148-11-03|Admission Date:  ...|
|     6782| 12290|     15731|156251.0|2121-04-20|Admission Date:  ...|
|     8168|  6522|      3268|103745.0|2161-11-16|Admission Date:  ...|
|     8169|  6523|      3268|115960.0|2167-03-15|Admission Date:  ...|
+---------+------+----------+--------+----------+--------------------+
only showing top 20 rows

In [115]:
lmodel = LightPipeline(model)

results = lmodel.fullAnnotate(text)

In [116]:
results[0].keys()

dict_keys(['document'])

In [117]:
results[0]

{'document': [Annotation(document, 0, 2, 744, {})]}